:root {
    --md-primary-fg-color: #A54B54;
    --md-primary-fg-color--light: #A54B54;
    --md-primary-fg-color--dark: #A54B54;
    --md-accent-fg-color: #A54B54;
    --md-accent-fg-color--light: #A54B54;
    --md-accent-fg-color--dark: #A54B54;
}

[data-md-color-scheme="slate"] {
    --md-hue: 210;
}