:root {
    --md-primary-fg-color: #C95625;
    --md-primary-fg-color--light: #C95625;
    --md-primary-fg-color--dark: #C95625;
    --md-accent-fg-color: #9B4A46;
    --md-accent-fg-color--light: #9B4A46;
    --md-accent-fg-color--dark: #9B4A46;
}

[data-md-color-scheme="slate"] {
    --md-hue: 210;
}